* {
    box-sizing: border-box;
}

.container {
	background-color: #F3B18C;
    height: 100vh;
    position: absolute;
    width: 100%;
    
}

p {
    font-family: 'Finger Paint';
    font-style: normal;
    font-size: 44px;
    color: #0026ED;
    position: relative;
    top: 80px; 

}

:root {
    --consleft: (100% - 100px)/2;
}

.normal {
	width: 100px;
	height: 100px;
	background: #FFFFFF;
    border: 10px solid #000000;
    border-radius: 10px;
}

#el0 {
    position: absolute;
    top: 210px;
    margin-left: -160px;
    display: inline-block;
}

#el1 {
    position: absolute;
    top: 210px;
    margin-left: -50px;
    display: inline-block;
}

#el2 {
    position: absolute;
    top: 210px;
    margin-left: 60px;
    display: inline-block;
}

#el3 {
    position: absolute;
    top: 320px;
    margin-left: -160px;
    display: inline-block;  
}

#el4 {
    position: absolute;
    top: 320px;
    margin-left: -50px;
    display: inline-block;
}

#el5 {
    position: absolute;
    top: 320px;
    margin-left: 60px;
    display: inline-block;
}

#el6 {
    position: absolute;
    top: 430px;
    margin-left: -160px;
    display: inline-block;  
}

#el7 {
    position: absolute;
    top: 430px;
    margin-left: -50px;
    display: inline-block;
}

#el8 {
    position: absolute;
    top: 430px;
    margin-left: 60px;
    display: inline-block;
}

.normal:hover {
	background-color: rgb(202, 200, 200);
}

.xli {
	font-family: 'Finger Paint';
    color: red;
    font-size: 56px;    
}

.xli:hover {
    color: white;
    background-color: red;
}

.winnerx {
	border: 10px solid #FF0505;
}

.olu {
    font-family: 'Finger Paint';
    color: blue;
    font-size: 56px;
}

.olu:hover {
    color: white;
    background-color: blue;
}

.winnero {
	border: 10px solid #0026ED;
}
